@use "@styles/styles" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;

  .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: $xlg;
    width: 100%;
    padding: 0 3rem;
    z-index: 1;
    background-color: $darkThemeColor;

    h1 {
      text-align: center;
      @include font-title;
    }
  }
}
